<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Lonely Planet</title>
    <link href="static/all.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
<div id="container">
    <div id="header">
        <div id="logo"></div>
        <h1>Lonely Planet: $destination.getTitle()</h1>
    </div>

    <div id="wrapper">
        <div id="sidebar">
            <div class="block">
                <h3>Navigation</h3>

                <div class="content">
                    <div class="inner">
                        #set($parent = $node.getParent())
                        #if($parent && $parent.getId() != 0)
                            <ul>
                                <li>
                                    #set($fileName = $FilenameUtils.normalize($parent.getName()))
                                    <a href="./${fileName}.html">${parent.getName()}</a>
                                </li>
                            </ul>
                        #end
                        <b>$node.getName()</b>
                        <ul>
                            #foreach($child in $node.getChildren())
                                <li>
                                    #set($fileName = $FilenameUtils.normalize($child.getName()))
                                    <a href="./${fileName}.html">${child.getName()}</a>
                                </li>
                            #end
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="main">
            <div class="block">
                <div class="secondary-navigation">
                    <ul>
                        <li class="first"><a href="#">$destination.getTitle()</a></li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="content">
                    <div class="inner">
                        #if($destination && $destination.getIntroductory() && $destination.getIntroductory().getIntroduction())
                        #set($overview = $destination.getIntroductory().getIntroduction().getOverview())
                        $overview.replaceAll("(\r\n|\n)", "<br />")
                        #end
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
